
body {
    background-color:hsl(212, 45%, 89%);
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    min-height: 100vh;

}
img {
   width: 100%;
    border-radius: 26px;
    display: block;
    
    
}
section {
    Box-shadow: 0 0 20px Black;
    text-align: center;
    padding:15px;
    border-radius: 15px;
    background-color: white;
    max-width: 300px;
  
   
    
}

h1 {
    font-size: 24px;
}

p {
    color:grey;
   
    
}

